# Virtual Environment
venv/
.venv*/
vendor/

# Python cache
**/__pycache__
*.pyc
*.pyo
*.pyd

# Instance folder
instance/

# Environment variables
.env

# Docker/local build stamp (written inside images; ignore if created on host)
BUILD_TIMESTAMP

# Build artifacts / offline image exports
*.tar.gz
dist/

# OS-specific files
.DS_Store

# Certificates
*.pem
*.cer
*.pfx
*.crt
*.key
openssl.cnf